.contact-cards-container {
  font-size: 1.8vh;
  min-height: 20vh;
  width: 100%;
  margin-bottom: 6vh;
}

.contact-card {
  width: 100%;
}

.contact-card-content {
  height: 100%;
  padding-left: 5vh;
}

.contact-data {
  background-color: $light-yellow;
  padding: 2vh 0;
}

.contact-address {
  background-color: $light-blue;
}

.contact-access-intro {
  margin-left: 5vh;
  text-align: justify;
}
