*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  text-decoration: none;
}

html, body {
  min-height: 100vh;
  position: relative;
}

.content {
  padding-bottom: 19vh;
}

.general-container {
  padding-top: 15vh;
  padding-bottom: 5vh;
}

a {
  text-decoration: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  position: relative;
  min-height: 100vh;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

p {
  margin-bottom: 0;
}

h1, h2 {
  color: $green;
}

.header {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7vh;

  h1 {
    margin: 0;
  }

  div {
    flex-grow: 1;
    background-color: $green;
    height: 1px;
  }
}

.logo-title {
  height: 6vh;
  object-fit: contain;
  margin: 0 2vh;
}
.size-highlight {
  font-size: 1.1rem;
}

.content-container {
  margin: 0 auto;
  width: 60%;
  height: 100%;
  margin-bottom: 5vh;
}

.bubble {
  border-radius: 50%;
}
