<div class="title">
  <div></div>
  <%= image_tag "logo-titles.png" %>
  <h1 class="text-center mx-2">QUI SUIS-JE</h1>
  <%= image_tag "logo-titles.png" %>
  <div></div>
</div>

<div class="content-container">

</div>
