<div class="title">
  <div></div>
  <%= image_tag "logo-titles.png" %>
  <h1 class="text-center mx-2">QUI SUIS-JE</h1>
  <%= image_tag "logo-titles.png" %>
  <div></div>
</div>

<div class="content-container">

  <p class="size-highlight text-center mb-5">
    Le choix de mon métier s’est pour ainsi dire imposé à moi très tôt, c’est un domaine qui m’a toujours passionnée et je m’estime très chanceuse d’avoir pu faire le parcours que j’ai eu.
  </p>

  <div class="d-flex justify-content-between align-items-center mb-5">
    <p class="about-content mr-5">
      J’ai effectué mes études entre Genève et Lausanne, et j’ai obtenu mon master en psychologie en 2009 que j’ai complété par un CAS en systémique. J’ai obtenu mon titre de psychothérapeute en 2017.<br><br>
      Mon parcours professionnel s’est d’abord déroulé en institution, j’ai notamment travaillé au CHUV en service hospitalier et aux urgences psychiatriques durant 6 ans. J’ai poursuivi mon chemin à l’association Appartenances, en parallèle de l’ouverture de mon cabinet, et ce durant 3 ans. Depuis le début de l'année 2021 je ne travaille plus qu’au cabinet.
    </p>
    <%= image_tag "avatar.jpg", class: "bubble about-img" %>
  </div>

  <div class="d-flex justify-content-between align-items-center mb-5">
    <%= image_tag "IMG_3735.jpeg", class: "bubble about-img" %>
    <p class="about-content mr-5">
      Ce qui compte avant tout pour moi, dans le cadre de mon travail, est d’arriver à établir avec la personne qui se présente un cadre de sécurité. Par conséquent, ce n’est pas moi qui vais dicter ce que l’on y fait, mais la personne qui sera libre de dire ce dont elle a envie ou pas.<br><br>
      Dans la même optique, je propose, en général, un bilan à la quatrième séance afin que la personne puisse décider en connaissance de cause si je suis la bonne thérapeute pour son suivi. Il y a bien sûr certaines situations dont je ne pourrai pas m’occuper, comme celles nécessitant d’emblée un traitement d’ordre plutôt psychiatrique ou institutionnel.<br><br>
      En parlant de cadre, les séances durent d’ordinaire 60 minutes (90 pour les suivis de couple).
    </p>
  </div>

  <p class="text-center mb-4">
    J’ai envie d’ajouter ici que je n’ai pas de spécialité en ce qui concerne les pathologies prises en charge, pour moi :
  </p>

  <p class="size-highlight text-center mb-5">
    <em>Chaque suivi est une rencontre et personne n’est défini par ses symptômes.</em>
  </p>

</div>
