<div class="title">
  <div></div>
  <%= image_tag "logo-titles.png" %>
  <h1 class="text-center mx-2">CONTACT</h1>
  <%= image_tag "logo-titles.png" %>
  <div></div>
</div>

<div class="content-container">

  <div class="mb-5 text-center">
    <p class="size-highlight">
      Je travaille actuellement les lundis de 19h à 19h, les jeudis et vendredis de 8h15 à 17h30.<br><br>
      Dans l’immédiat (actualisé en juillet 2022) je n’ai pas de disponibilité pour de nouveaux suivis, mais il est toujours possible de me faire une demande par mail et que je vous contacte lorsqu’une place se libère.
    </p>
  </div>

  <h3 class="mb-3">Me joindre</h3>

  <div class="contact-cards-container d-flex">
    <div class="contact-card contact-address">
      <div class="contact-card-content d-flex align-items-center">
        <p>
          <strong>Addresse</strong><br>
          Naomi Nilsson<br>
          Cabinet de Psychothérapie de la Palud<br>
          Place de la Palud 7<br>
          1003 Lausanne
        </p>
      </div>
    </div>

    <div class="contact-card contact-data">
      <div class="contact-card-content d-flex flex-column justify-content-around">
        <div>
          <%= link_to "tel:+41774882823" do %>
            <p><i class="fa-solid fa-phone"></i><strong> Par téléphone</strong></p>
          <% end %>
          +41 (0)77 488 28 23
        </div>

        <div>
          <%= link_to "mailto:naomi.nilsson@psychologie.ch" do %>
            <p><i class="fa-regular fa-envelope"></i><strong> Par e-mail</strong></p>
          <% end %>
          naomi.nilsson@psychologie.ch
        </div>
      </div>
    </div>
  </div>

  <h3 class="mb-3">Accès</h3>

  <div class="contact-access-container d-flex align-items-center">
    <div id="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2745.296270778311!2d6.630278815456697!3d46.52203887912781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c2e318873e329%3A0x67dc283a84938dda!2sPl.%20de%20la%20Palud%207%2C%201003%20Lausanne!5e0!3m2!1sfr!2sch!4v1656851056337!5m2!1sfr!2sch" width="500" height="500" style="border-radius:15px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="flex-grow-1">
      <p class="contact-access-intro text-justify">Pour venir au cabinet en transports publics le métro m2 (arrêt Riponne Maurice-Béjart) est à 100 mètres, les arrêts de bus Bel-Air et Riponne sont aussi très proches.<br><br>Pour venir en voiture les parkings de la Riponne ou du Rôtillon sont tout proches également<br><br>Il n’y a malheureusement pas de places vélo sur la place même, mais des places sont disponibles à Bel-Air, et à la place Pépinet.</p>
    </div>
  </div>

</div>
