<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>
  <i class="fa-brands fa-amilia"></i>
</p>

<i class="fa-solid fa-anchor"></i>
<i class="fa-solid fa-angle-down"></i>
<i class="fa-solid fa-calendar-check orange"></i>
