<h1 class="primary">Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>
  <i class="fa-brands fa-amilia"></i>
</p>

<i class="fa-solid fa-anchor"></i>
<i class="fa-solid fa-angle-down"></i>
<i class="fa-solid fa-calendar-check orange"></i>


<%= image_tag "logo-psy.png" %>
<%= image_tag "logo-titles.png" %>
<%= image_tag "logo-avp.svg" %>
<%= image_tag "logo-fsp.svg" %>
