.contact-button {
  font-size: 2vh;

  a {
    color: $blue;
    background-color: $deep-yellow;
    border-radius: 10px;
    padding: 8px 20px;
    margin: 0 auto;

    &:hover {
        font-weight: bold;
      }
  }

  .bold {
    font-weight: 600;
  }
}

.phone-button {
  color: $blue;
  border-radius: 20px;
  padding: 8px 18px;
  background-color: $light-gray;

  .fa-phone {
    font-size: larger;
  }

  a:hover {
        font-weight: bolder;
    }
}
