
.footer {
  font-size: 1.7vh;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer-contact-data {
  min-height: 15vh;
  background-color: $green;
  color: $light-gray;
  padding: 1vh 2vh;
}

.footer-infos {
  min-width: 18vh ;
  margin: 2vh 0;
}

.footer-access-map {
  .fa-map-location-dot {
    font-size: 50px;
    margin-bottom: 1.2vh;
  }

  p, .fa-map-location-dot {
    color: $light-gray;
  }

  a:hover {
    font-weight: bold;
  }
}

.footer-logo {

  div img {
    height: 10vh;
    object-fit: contain;
    margin: 0 2vh;
  }
}

.vertical-bar {
  background-color: $light-gray;
  width: 1px;
  height: 8vh;
  margin: 0 2vh;
}

.copyright-bar {
  height: 2.5vh;
  background-color: $deep-yellow;
  text-align: center;
  padding: 0.5em;
  font-size: 1.2vh;
  font-family: Helvetica, sans-serif;
}
