nav {
  width: 100%;
  height: 8vh;
  div {
    background-color: $green;
    font-size: 2vh;
  }
  a {
    color: $light-gray;
  }
}

.navbar-logo {
  height: 8vh;
  margin-left: 3vh;
}

.logo img {
  height: 6vh;
}

.nav-items {
  margin-right: 3vh;
}

.nav-item {
  margin: 0 3vh;
  text-align: center;
  min-width: 10vh;

  a:hover {
    color: $deep-yellow;
  }
}

.nav-contact {
  margin: 0 3vh;
  text-align: center;
  min-width: 10vh;
}
